<h1>Product List</h1>

<div class="row" *ngIf="products && products.length">
  <!-- <button class="btn btn-primary" (click)="addProduct()" *hasClaim="'canAddProduct'"> -->
  <button
    style="margin-bottom: 15px"
    mat-raised-button
    color="primary"
    (click)="addProduct()"
    *ngIf="securityObject.claim.canAddProducts"
  >
    Add New Product
  </button>
</div>

<div *ngIf="products && products.length">
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th>Edit</th>
        <th>Product Name</th>
        <th>Introduction Date</th>
        <th class="text-right">Price</th>
        <th>URL</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>
          <button
            href="#"
            mat-raised-button
            color="primary"
            [routerLink]="['/productDetail', product._id]"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
        <td>{{ product.productName }}</td>
        <td>{{ product.introductionDate | date: "MM/dd/yyyy" }}</td>
        <td class="text-right">{{ product.price | currency }}</td>
        <td>{{ product.url | lowercase }}</td>
        <td>
          <button
            (click)="deleteProduct(product._id)"
            mat-raised-button
            color="warn"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
