<mat-toolbar class="header" color="primary">
  <div class="navbar-brand">
    <button routerLink="/dashboard" mat-flat-button color="primary">
      Home
    </button>
  </div>
  <span class="nav-spacer"></span>
  <ul class="nav__linklist">
    <li *ngIf="securityObj.claim.canAccessProducts">
      <!-- <a routerLink="/products" *hasClaim="'canAccessProducts'"> -->
      <button
        routerLink="/products"
        mat-flat-button
        color="primary"
        (click)="print()"
      >
        Products
      </button>
    </li>
    <li *ngIf="securityObj.claim.canAccessCategories">
      <!-- <a routerLink="/categories" *hasClaim="'canAccessCategories'" > -->
      <button routerLink="/categories" mat-flat-button color="primary">
        Categories
      </button>
    </li>
  </ul>
  <span class="nav-spacer"></span>
  <ul class="nav navbar-nav navbar-right">
    <li class="nav-item">
      <button
        routerLink="login"
        *ngIf="!securityObj.isAuthenticated"
        mat-flat-button
        color="primary"
      >
        Login
      </button>
      <button
        href="#"
        (click)="logout()"
        *ngIf="securityObj.isAuthenticated"
        mat-flat-button
        color="primary"
      >
        Logout {{ securityObj.userName }}
      </button>
    </li>
  </ul>
</mat-toolbar>

<div class="container body-content">
  <router-outlet></router-outlet>
</div>
