.input__container {
  display: flex;
  flex-direction: column;
}

mat-form-field input div {
  background: rgba(0, 0, 0, 0);
}

// @use '~@angular/cdk';

// // Set custom autofill inputs to have no background and red text.
// input.custom-autofill {
//   @include cdk.text-field-autofill-color(transparent, red);
// }
