<div class="row">
  <div class="col-xs-12">
    <h1>Product List</h1>
  </div>
</div>

<div class="row" *ngIf="products && products.length">
  <div class="col-xs-12">
    <!-- <button class="btn btn-primary" (click)="addProduct()" *hasClaim="'canAddProduct'"> -->
    <button
      class="btn btn-primary"
      (click)="addProduct()"
      *ngIf="securityObject.claim.canAddProducts"
    >
      Add New Product
    </button>
  </div>
</div>

<div *ngIf="products && products.length">
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th>Edit</th>
        <th>Product Name</th>
        <th>Introduction Date</th>
        <th class="text-right">Price</th>
        <th>URL</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>
          <a
            href="#"
            class="btn btn-primary"
            [routerLink]="['/productDetail', product._id]"
          >
            <fa-icon [icon]="pencil"></fa-icon>
          </a>
        </td>
        <td>{{ product.productName }}</td>
        <td>{{ product.introductionDate | date: "MM/dd/yyyy" }}</td>
        <td class="text-right">{{ product.price | currency }}</td>
        <td>{{ product.url | lowercase }}</td>
        <td>
          <button (click)="deleteProduct(product._id)" class="btn btn-danger">
            <fa-icon [icon]="trash"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
